
table {
  border-collapse: collapse;
  }

table, th, td {
  border: 1px solid black;
}

th, td {
 height: 40px;
 width: 50px;
 text-align: center;
 font-size: 20px;
}
.to_left {
  width: 250px;
  text-align: left;

}