
body {
   margin-left: 100px;
}

table {
  border-collapse: collapse;
  }

table, th, td {
  border: 1px solid black;
}

th, td {
 width: 35px;
 height: 35px;
 text-align: center;
 font-size: 20px;
}

#wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.salvo {
 background-color: red;
}

.ship {
    background-color: dodgerBlue;
}
#airCarrier {
 width: 175px;
 height: 35px;
 background-color: green;
}

#battleship {
 width: 140px;
 height: 35px;
 background-color: green;
}

#submarine {
  width: 105px;
  height: 35px;
  background-color: green;
}

#destroyer {
  width: 105px;
  height: 35px;
  background-color: green;
}

#patBoat {
  width: 70px;
  height: 35px;
  background-color: green;
}

.placed {
 background-color: orange;
}

.placedCarr {
  background-color: orange;
}

.placedBattle {
 background-color: orange;
}

.placedSub {
 background-color: orange;
}

.placedDest {
 background-color: orange;
}

.placedBoat {
 background-color: orange;
}

.shot {
 background-color: red;
}

#grid-container {
  display: grid;
  grid-template-columns: 300px  auto 100px;
}

#shipPlacemen {
  grid-column: 1;
}

#gameHistory {
  grid-column: 2;
}

.noLine {
 border-right-color: white;
}

.hitsCells{
  width: 350px;
}