body {
  margin: 0px;
  font-family: sans-serif;
  background-color: rgb(0, 21, 46);
  color: rgb(210, 210, 210);
}

#headContainer {
  margin: 0px;
  display: grid;
  grid-template-columns: 100px  auto 150px 50px 100px;
  background-image: url(battle.jpg);
  background-position: 60% 58%;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(234, 234, 225);
}

h1 {
  grid-column: 2;
  padding: 30px;
  margin: 0px;
  color: rgb(0, 21, 46);
  font-weight: bold;
}

#loggedUser {
  grid-column: 3;
  margin-top: 45px;
  color: rgb(0, 21, 46);
  font-weight: bold;
}

#logoutForm {
  grid-column: 4;
  margin-top: 39px;
  border-color: rgb(0, 21, 46);
}

#logout{
  background-color: rgb(0, 21, 46);
  color: rgb(234, 234, 225);
}

#gridContainer {
  display: grid;
  grid-template-columns: 150px 50px 300px auto 280px 30px 50px 150px;
}

#players {
 grid-column: 7;
}

#playersNames{
 margin-top: -12px;
}

#statusMessage {
  grid-column: 4;
  height: 50px;
  padding: 10px 0px 15px 15px;
  /*background-color: rgb(255, 190, 40);*/
  background-color: rgb(200, 200, 200);
  color: rgb(0, 21, 46);
  font-size: 20px;
  border-radius: 5px;
}

#salvoForm {
  grid-column: 5;
  margin-left: 100px;
}

#salvoDone {
}

#wrapper {
  grid-column: 3/span 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -50px;
}

#grid, #mySalvoes {
  border-collapse: collapse;
  background-image: url(Dark-Ocean.jpg);
  background-position: 70% 70%;
  border-color: rgb(0, 79, 153);
  /*background-color: rgb(0, 53, 102);
  color: rgb(230, 230, 230);*/
}

#grid th, #grid td {
  border: 1px solid;
  border-color: rgb(0, 79, 153);
}

#mySalvoes th, #mySalvoes td {
  border: 1px solid;
  border-color: rgb(0, 79, 153);
}


th, td {
 width: 33px;
 height: 33px;
 text-align: center;
 font-size: 20px;
}

.salvo {
 /*background-image: radial-gradient(circle closest-side, white 5%, #003566 25%, #003566 20%, #003566 50%);*/
 background-image: radial-gradient(circle closest-side, white 20%, #003566 80%);
 background-repeat: no-repeat;
 background-size: contain;
 background-size: 15px 15px;
 background-position: center;

}

.ship {
  background-color: #5c8a8a;
  border-color: #527a7a;
}

.placed {
 background-color: orange;
}

.placedCarr {
  background-color: orange;
}

.placedBattle {
 background-color: orange;
}

.placedSub {
 background-color: orange;
}

.placedDest {
 background-color: orange;
}

.placedBoat {
 background-color: orange;
}

.shot {
 background-color: rgb(0, 79, 153);
 border-color: rgb(0, 53, 102);
}


#shipPlacement {
  grid-column: 1/span 2;
  margin-left: 20px;
  margin-top: -25px;
}

#airCarrier {
 width: 165px;
 height: 33px;
 background-color: green;
}

#battleship {
 width: 132px;
 height: 33px;
 background-color: green;
}

#submarine {
  width: 99px;
  height: 33px;
  background-color: green;
}

#destroyer {
  width: 99px;
  height: 33px;
  background-color: green;
}

#patBoat {
  width: 66px;
  height: 33px;
  background-color: green;
}

#gameHistory {
  grid-column: 2/span 4;
  margin-top: -130px;

}

